In [ ]:
import pandas

In [ ]:
#to read and store files in variable
####sdfjdgdfgdfgdfgdf
#this is a comment

myfiles=pandas.read_csv('/content/GSS2012a.csv')

In [ ]:
myfiles

In [ ]:
myfiles['mar1'].value_counts()

In [ ]:
#sex column
myfiles['sex'].value_counts()

In [ ]:
#normalize - then i will get percentage

myfiles['zodiac'].value_counts(normalize=True)

In [ ]:
myfiles['BMITZVAH'].value_counts()

In [ ]:
myfiles.describe(include='object')

In [ ]:
# read the csv - StudentStatistics.csv

#value counts of Gen_Gender

In [ ]:
studentdata = pandas.read_csv('StudentStatistics.csv', sep=';')

In [ ]:
studentdata

In [ ]:
studentdata['Gen_Gender'].value_counts()

In [ ]:
from scipy.stats import binom_test

In [ ]:
# x = total count in category 1
# n = total number of people
# p = probability of each category in null hypothesis

#H0 - null hypothesis - male to female is balanced
#Ha - alternate hypothesis - male to female is not balanced

binom_test(x = 34, n = 46, p = 0.5)

In [ ]:
#probability value
#probability that null hypothesis is true
#probability that sample is balanced

p_value = 0.0016414913408482334
#0.1%

#Conclusion - the null hypothesis is rejected.

In [ ]:
binom_test(x = 20, n = 46, p = 0.5)

In [ ]:
p_value_case2 = 0.46
#46%

#Conclusion - null hypothesis cannot be rejected.

In [ ]:
#pvalue =< 0.05 (result is significant)
#Sample and population both show that null hypothesis is rejected

#pvalue > 0.05 (result is not significant) null hypothesis cannot be rejected

#coin A - heads 190 and tails 10
#coin B - heads 108 and tails 92

In [ ]:
#Null and alternate hypothesis
#Perform test
#Conclusion

In [ ]:
binom_test(x = 190, n = 200, p = 0.5)

In [ ]:
#null hypothesis is rejected because result is significant pvalue <0.05
#2.9 * 10^-44 = nearly 0

In [ ]:
binom_test(x = 108, n = 200, p = 0.5)

In [ ]:
#null hypothesis is not rejected because result is not significant pvalue > 0.05

#Questions

In a school, 80 out of 100 students passed a math exam. The national average pass rate for this math exam is 50%. Can we conclude that the school has a significantly different pass rate than the national average?

In [ ]:
#H0 - school does not have higher pass rate than national average
#Ha - school has higher pass rate than national average

In [ ]:
x = 20
n = 100
p = 0.5

binom_test(x,n,p)

In [ ]:
p_value = 1.1159089057251951e-09
#1.1 * 10^-9
#null hypothesis is rejected and school has higher pass rate than national average

Suppose you are interested in testing whether the percentage of customers who make a purchase after viewing a product on an e-commerce website is significantly different from the industry average of 25%. You collected data from a sample of 80 customers, and 30 of them made a purchase. You want to perform a one-sample binomial test to assess whether the website's conversion rate is significantly different from the industry average.

In [ ]:
p = 0.25
x = 30
n=80
binom_test(x,n,p)

In [ ]:
pvalue = 0.013598962816420208
#null hypothesis is rejected

In [ ]:
#Effect size

ratio = x/n
expected_probability = p

effect_size = abs(ratio - expected_probability)
effect_size

In [ ]:
#effect size is calculated only when result is significant i.e. pvalue <= 0.05

In [ ]:
#website's conversion rate is significantly different from the industry average
# (pvalue = 0.0135)
#but the difference is small (Cohen g = 0.125)

In [ ]:
#website's conversion rate is not significantly different from the industry average
#(pvalue = 0.6)

#One tail one sample binomial test

In [ ]:
'''
Null Hypothesis (H₀): The proportion of students passing the difficult exam at
the school is equal to the national average (p = 0.25).

Alternate Hypothesis (H₁): The proportion of students passing the
difficult exam at the school is significantly lesser than the
national average (p > 0.60).
'''

p = 0.6
x = 30
n=80
binom_test(x,n,p, alternative='less')

In [ ]:
'''
Null Hypothesis (H₀): The proportion of students passing the difficult exam at
the school is equal to the national average (p = 0.25).

Alternate Hypothesis (H₁): The proportion of students passing the
difficult exam at the school is significantly higher than the
national average (p > 0.60).
'''

p = 0.25
x = 30
n=80
binom_test(x,n,p, alternative='greater')