In [ ]:
import pandas

In [ ]:
mydata = pandas.read_csv('GSS2012a.csv')

In [ ]:
mydata

In [ ]:
scalevar = mydata['age'].dropna()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
mydata['age'].info()

In [ ]:
scalevar = scalevar.replace({'89 OR OLDER': 90})

In [ ]:
scalevar = pandas.to_numeric(scalevar)

In [ ]:
plt.scatter(range(len(scalevar)), scalevar, marker='o', linestyle='-')

In [ ]:
#binning

In [ ]:
pandas.cut(scalevar, bins=5).value_counts()

In [ ]:
#75.6 - (61.2, 75.6]

In [ ]:
#(17.928, 32.4]
#() - not including
#[] - including
#17.928 < = 32.4

In [ ]:
#age - 10 - 20, 21-30, 31-50, 51-90, 90 - 100

In [ ]:
'''
n (number of rows)	        k (number of bins)
0 < 50	                    5-7
50 < 100	                6-10
100 - 250	                7-12
250 or more	                10-12

'''

In [ ]:
import math

In [ ]:
n = len(scalevar)

In [ ]:
n

In [ ]:
# Square-Root Choice
k_src = math.ceil(n**0.5)
print("Square-Root Choice: ", k_src)

# Sturges
k_sturges = math.ceil(math.log2(n))+1
print("Sturges: ", k_sturges)

# Quartic Root
k_quarroot = math.ceil(2.5*n**(1/4))
print("Quartic Root: ", k_quarroot)

# Rice
k_rice = math.ceil(2*n**(1/3))
print("Rice: ", k_rice)

# Terrell and Scott:
k_ts = math.ceil((2*n)**(1/3))
print("Terrell and Scott: ", k_ts)

# Exponential:
k_exp = math.ceil(math.log2(n))
print("Exponential: ", k_exp)

# Velleman:
if(n<=100):
    k_velleman = math.ceil(2*n**(1/2))
else:
    k_velleman = math.ceil(10*math.log(n, 10))
print("Velleman: ", k_velleman)

In [ ]:
plt.hist(scalevar, color='skyblue', edgecolor='green', lw=2, bins=12)

In [ ]:
#box and whisker plot

In [ ]:
plt.boxplot(scalevar)

In [ ]:
import seaborn

In [ ]:
seaborn.violinplot(x=scalevar)

In [ ]:
#scale - summarize

#mean
m = scalevar.mean()

#standard deviation
std = scalevar.std()

In [ ]:
m

In [ ]:
std

In [ ]:
#Chebyshev’s inequality (Tchébychef, 1867) states that
#75% of all scores will fall within two standard deviations from the mean,
#and almost 89% within 3 standard deviations.

In [ ]:
upperlimit = m + (2 * std)
lowerlimit = m - (2 * std)

In [ ]:
print(upperlimit)
print(lowerlimit)

In [ ]:
upperlimit = m + (3 * std)
lowerlimit = m - (3 * std)

In [ ]:
#one-sample t-test / Student t-test

#H0 - the average is equal to 50
#Ha - the average is not equal to 50

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
ttest_1samp(scalevar, popmean=80)

In [ ]:
#Effect size = Cohen d

mean_of_sample = 48.201117318435756
mean_of_pop = 80
sd = 17.70490317149294

temp = (mean_of_sample - mean_of_pop) / sd
cohen_d = temp * 2**0.5
abs(cohen_d )

In [ ]:
if abs(cohen_d ) < .20:
    print('Negligible')
elif abs(cohen_d ) < .50:
    print('Small')
elif abs(cohen_d ) < .80:
    print('Medium')
else:
    print('Large')

In [ ]:
#H0 - the average is equal to 48.201117318435756
#Ha - the average is not equal to 48.201117318435756

ttest_1samp(scalevar, popmean=48.201117318435756)

In [ ]:
pvalue = 6.912890033528446e-06

#sample_scores = [78, 82, 76, 79, 85, 70, 74, 81, 77, 83, 79, 80, 75, 78, 76, 82, 73, 80, 81, 77]

you have the average exam score of 20 students from a particular school. You know from historical data that the population mean exam score for all students in that school is 75.

In [ ]:
sample_scores = [78, 82, 76, 79, 85, 70, 74, 81, 77, 83, 79, 80, 75, 78, 76, 82, 73, 80, 81, 77]

# Known population mean
population_mean = 75

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(sample_scores, population_mean)

In [ ]:
print(t_stat, p_value)